* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

.wrapper {
    width: 100vw;

    background-image: linear-gradient(#144275, #270166);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 26px;
    text-align: center;
    margin-top: 16px;
}

.scoreboard {
    width: 780px;
    height: 120px;
    border: 6px solid white;
    border-radius: 22px;
    font-size: 24px;
    margin: auto;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
}

.playerScore,
.round,
.computerScore {
    padding: 16px;
    width: 270px;
    text-align: center;
}

.playerScoreNum,
.computerScoreNum {
    color: white;
    font-size: 36px;
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.roundNum {
    font-size: 34px;
    margin-top: 6px;
}

.gameResult {
    display: flex;
    justify-content: center;
    margin-top: 28px;
    font-size: 28px;
}

.options {
    display: flex;
    width: 750px;
    margin: 48px 48px 32px 48px;
    justify-content: space-between;
}

.zoom {
    transition: transform 0.2s;
}

.zoom:hover {
    transform: scale(1.2);
}

.contest-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rematch {
    margin-top: -50px;
    height: 44px;
    width: 180px;
    font-size: 22px;
    background-color: white;
    border-radius: 14px;
    transition: transform 0.15s;
    visibility: hidden;
}

.rematch-visible {
    visibility: visible;
}

.rematch:hover {
    border: 4px solid yellow;
    transform: scale(1.3);
}

.contest {
    margin-top: 10px;
    display: none;
    justify-content: space-evenly;
}

.playerHand,
.computerHand {
    width: 300px;
    height: 300px;
    font-size: 24px;
}

.playerHand,
.computerHand,
.vs {
    display: flex;
    justify-content: space-evenly;
}

.vs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: yellow;
    font-size: 30px;
}

.newHandButton {
    width: 140px;
    height: 45px;
    margin-top: 70px;
    border: 3px dashed white;
    border-radius: 16px;
    background-color: #144275;
    color: yellow;
    font-size: 20px;
    letter-spacing: 2px;
    transition: transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.newHandButton:hover {
    transform: scale(1.4);
    border: 4px double yellow;
}

.newHandButton-invisible {
    display: none;
    visibility: hidden;
}

.playerHand,
.computerHand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#playerSelectionImage,
#computerSelectionImage {
    margin-top: 8px;
}
